<!DOCTYPE html>
<html>
<head>
    {% load static %}
<link rel="stylesheet" href="{% static 'tablestyle.css' %}">

</head>
<body>
<div class="table-wrapper">

<table class="templatetable">
    <tr>
        {% include 'sidebar.html' %}
        
        <td colspan="2"; class="header">
            {{team.city}} {{team.name}}                                             Stage: {{stage}}
        </td>
    </tr>

    <tr>
        <td class="main-body">
            main body
        </td>
    </tr>
</table>
</div>