<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tablestyle.css' %}">

</head>
<body>
<div class="table-wrapper">

<table class="templatetable">
    <tr>
        {% include 'sidebar.html' %}
        
        <td colspan="2"; class="header">
            TeamCity TeamName
        </td>
    </tr>

    <tr>
        <td class="main-body">
            <table>
                <tr>
                    <th>City</th>
                    <th>Name</th>
                    <th>Players</th>
                    <th>Total Salary</th>
                </tr>

                {% for team in teams %}
                {% load playersCount salaryCount %}
                

                <tr>
                    <td>{{team.city}}</td>
                    <td><a href="{% url 'salaryBreakdownL' t_id=team.t_id %}">{{team.name}}</a></td>
                    <td>{% playersCount team.t_id %}</td>
                    <td>{% salaryCount team.t_id %}</td>
                </tr>

                {% endfor %}
            </table>
        </td>
    </tr>
</table>
</div>








</body>

</html>