<!DOCTYPE html>
<html>
<head>
</head>
<body>
    test test test test test test


    <form method="post" action="{% url 'do_shit' %}">
        {% csrf_token %}
        <input type="number" name="num">
    </form>
    
    <a href="{% url 'ssdraft' %}">
        <button>assign players to team</button>
    </a> 

    <a href="{% url 'delete' %}">
        truncate
    </a>
    
    
    <a href="{% url 'table' %}">
        <button>go to table</button>
    </a>

    <a href="{% url 'assignSalary' %}">assign salaries</a>

    
    
    

    
    
    
    <h1>Players generated: {{ num }}</h1>
    <h1>Total time taken to gen: {{ execTimeInt }}</h1>
    <h1>Time per player: {{ timePer }}</h1>
</body>
</html>

