<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="stylesheet/tablestyle.css">
<style>
/* .templatetable {
    border: 5px solid black;
    width: 100%;
    height: 100vh; 
}

/* .table-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* 
} */

/* .header {
    flex-grow: 1; 
    border: 5px solid black;
    width: 100%;
    
}

.sidebar{
    width: 10%;
    border: 5px solid black;
}

.main-body{
    border: 5px solid black;
    width: 90%;
} */

</style>

<body>
<div class="table-wrapper">

<table class="templatetable">
    <tr>
        <td rowspan="2" class="sidebar">
            sidebar
        </td>
        <td colspan="2"; class="header">
            TeamCity TeamName
        </td>
    </tr>

    <tr>
        <td class="main-body">
            main body
        </td>
    </tr>
</table>
</div>








</body>
</head>
</html>