<!DOCTYPE html>
<html>
<head>
    {% load static %}
</head>
<body>
    <form method="POST" action="{% url 'addArray' t_id %}">
        {% csrf_token %}
        
        <!-- User Players Table -->
        <table>
            <tr>
                {% include 'sidebar.html' %}
                
                <td colspan="2"; class="header">
                    {{team.city}} {{team.name}}                                             Stage: {{stage}}
                </td>
            </tr>
            <tr>
                <th>Your Team</th>
            </tr>
            {% for player in userPlayers %}
            <tr>
                <td>
                    <input type="checkbox" name="user_player_checkbox" value="{{player.id}}" data-team-id="{{player.team_id}}">
                    {{player.first_name}} {{player.last_name}}
                </td>
            </tr>
            {% endfor %}
        </table>
    
        <!-- Selected Players Table -->
        <table>
            <tr>
                <th>Other Team</th>
            </tr>
            {% for player in selectedPlayers %}
            <tr>
                <td>
                    <input type="checkbox" name="selected_player_checkbox" value="{{player.id}}" data-team-id="{{player.team_id}}">
                    {{player.first_name}} {{player.last_name}}
                </td>
            </tr>
            {% endfor %}
        </table>
    
        <button type="submit">TRADE!</button>
    </form>
    
   

</body>
</html>
