<!DOCTYPE html>
<html>
<head>
    {% load static %}
</head>
<body>
    <form method="POST" action="{% url 'addArray' t_id %}">
        {% csrf_token %}
        
        <!-- User Players Table -->
        <table>
            <tr>
                <th>User Players</th>
            </tr>
            {% for player in userPlayers %}
            <tr>
                <td>
                    <input type="checkbox" name="user_player_checkbox" value="{{player.id}}" data-team-id="{{player.team_id}}">
                    {{player.first_name}} {{player.last_name}}
                </td>
            </tr>
            {% endfor %}
        </table>
    
        <!-- Selected Players Table -->
        <table>
            <tr>
                <th>Selected Players</th>
            </tr>
            {% for player in selectedPlayers %}
            <tr>
                <td>
                    <input type="checkbox" name="selected_player_checkbox" value="{{player.id}}" data-team-id="{{player.team_id}}">
                    {{player.first_name}} {{player.last_name}}
                </td>
            </tr>
            {% endfor %}
        </table>
    
        <button type="submit">Add players to trade arrays</button>
    </form>
    
    <form id="do-trade-form" action="{% url 'doTrade' t_id %}" method="post">
        {% csrf_token %}
        <!-- Include any other form inputs or elements here -->
        <button type="submit">Do Trade</button>
    </form>
    
    <!-- User Players Array Table -->
    <table>
        <tr>
            <th>User Players Array</th>
        </tr>
        <tr>
            <td>
                {% for player in user_players_list %}
                    {{ player.first_name }} {{ player.last_name }}
                {% endfor %}
            </td>
        </tr>
    </table>
    
    <!-- Selected Players Array Table -->
    <table>
        <tr>
            <th>Selected Players Array</th>
        </tr>
        <tr>
            <td>
                {% for player in selected_players_list %}
                    {{ player.first_name }} {{ player.last_name }}
                {% endfor %}
            </td>
        </tr>
    </table>

</body>
</html>
